
div.section2 div.chart div.subchart div.statics{
    display: flex;
    background: black;
    position: relative;
    top: 33px;
    z-index: 3;
    width: 3.5vw;
    border-radius: 14px;
    color: white;
    right: -212px;
    font-size: .8vw;
    flex-direction: row;
    justify-content: space-around;
}
div.section2 div.chart div.subchart svg{
    margin-top: 5px;
    font-size: 9px;
}


div.section2 div.chart:nth-child(2) div.subchart div.statics,div.section2 div.chart:nth-child(4) div.subchart div.statics{
    background: #ff8522;
}

div.section2 div.chart:nth-child(1) div.subchart div.statics,div.section2 div.chart:nth-child(3) div.subchart div.statics{
    background:black;
}